/company/*/attachments
/company/*/backup/*.sql
/company/*/backup/*.sql.gz
/company/*/pdf_files/*.pdf
/company/*/js_cache/*/*.js
/company/*/reporting
/company/*/images
/tmp
/lang
/modules
/themes
!/themes/default
!/themes/aqua
!/themes/cool
!/lang/en_US
!/lang/new_language_template
installed_languages.inc
installed_extensions.php
config.php
config_db.php
!index.php
