# Protect sensitive files.
<FilesMatch "\.(inc|po|sh|pem|.*sql|log)$">
	Order allow,deny
	Deny from All
	Satisfy All
</FilesMatch>

# Disable directory listings.
Options -Indexes

# Set the default index.
DirectoryIndex index.php

# These settings are recommended
# Maybe you might have problems
# with other scripts that needs
# register_globals ON
<IfModule mod_php4.c>
	php_flag magic_quotes_gpc Off
	php_flag register_globals Off
	php_flag session.use_trans_sid Off
</IfModule>
<IfModule mod_php5.c>
	php_flag magic_quotes_gpc Off
	php_flag register_globals Off
	php_flag session.use_trans_sid Off
</IfModule>
#Sometimes neccessary to add those
#
#AddType application/x-javascript .js
#AddType text/css .css
