body,td,th,input,textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
body {
	background-color: #557799;
	margin: 0px;
}
form {
	margin: 0;
}
.submit {
	border : solid 1px #CCCCCC;
	background: #E9ECEF;
	color : #003366;
	font-weight : bold;
	font-size : 11px;
	padding: 4px;
	width: 100%;
}
.content {
	background-color: #FFFFFF;
	padding: 15px;
	height: 350px;
	width: 750px;
	text-align: justify;
	vertical-align: top;
}
hr {
	margin: 15px 0px 15px 0px;
	color: #003366;
	height: 1px;
}
h1 {
	font-size: 13px;
	color: #336699;
	margin: 0px 0px 5px 0px;
	border-bottom: 1px solid #CCCCCC;
}
h2 {
	font-size: 12px;
	color: #336699;
	text-align: center;
	margin: 0px 0px 5px 0px;
}
a:link, a:visited, a:active {
	color: #003366;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #336699;
}
.bad {
	color: #FF0000;
	font-weight: bold;
}
.good {
	color: #009900;
	font-weight: bold;
}
.note {
	color: #666666;
	font-size: 10px;
}
.hide {
	display: none;
}
select {
    max-width: 1000px;
}
