@import url(local_pref.css);
table.tablestyle_inner textarea,
table.tablestyle_inner div.list_container {
	width: 100%;
}
button {
	width: 100%;
	line-height: 25px;
	text-align: center;
	background-color: #367CB5;
	border-radius: 4px;
}
button:hover {
	cursor: pointer;
}
button span {
	font-size: 1.3em;
	color: #FFF;
}
