table.tablestyle2 td:not(.label) {
	border: 0;
}
table.tablestyle2 .list_container, table.tablestyle2 input {
	width: 300px;
}
.select2 {
	margin-top: -1px !important;
}
#_component_edit {
	width: 90px;
}
table.tablestyle2 tr:first-child .list_container {
	width: 206px;
}
