table.tablestyle2 td:not(.label):not(.tableheader2) {
	border: 0;
}
table.tablestyle2 input, table.tablestyle2 div.list_container, table.tablestyle2 textarea {
	width: 100%;
}
.select2 {
	margin-top: -1px !important;
}