@import url(local_entry.css);
@media all and (max-width: 768px) {
	div#alloc_tbl {
		overflow: auto;

	}
	table.tablestyle2 {
		display: inline-block;
		width: 90%;
	}
	table.table_section > tbody,
	table.table_section > tbody > tr,
	div#alloc_tbl,
	table.table_section > tbody > tr > td,
	table.table_section table.tablestyle_inner,
	table.table_section table.tablestyle_inner tbody,
	table.table_section table.tablestyle_inner tr {
		display: block;
		width: 100%;
		border: 0 !important;
	}
	table.table_section table.tablestyle_inner td {
		display: inline-block;
		width: 50%;
		float: left;
		padding: 0 .5em;
	}
	table.tablestyle2:not(.table_section) {
		border: 0;
	}
	form > center > table.tablestyle:not(.table_section) {
		width: auto;
		margin-top: 1em;
	}
}
