
table.tablestyle_inner input, table.tablestyle_inner textarea, 
table.tablestyle_inner td > span:not(#_discount_label):not(#_pymt_discount_label), 
table.tablestyle_inner div.list_container {
	width: calc(100% - 1.5em);
	margin: 0;
}
table.tablestyle_inner select {
	margin: 0;
}