table.tablestyle_inner span {
	margin: 0;
	padding: 0;
}
table.tablestyle_inner input, table.tablestyle_inner textarea,
table.tablestyle_inner td > span, table.tablestyle_inner div.list_container {
	width: 100%;
}