table.tablestyle_inner span {
	margin: 0;
	padding: 0;
}
table.tablestyle_inner input:not([type=checkbox]),
table.tablestyle_inner textarea,
table.tablestyle_inner div.list_container {
	width: calc(100% - 3em);
}