table.tablestyle_inner span {
	margin: 0;
	padding: 0;
}
table.tablestyle_inner input:not([type=checkbox]), table.tablestyle_inner textarea, table.tablestyle_inner span {
	display: inline-block;
	width: calc(100% - 1.5em);
}
table.tablestyle_inner select {
	width: 100%;
	margin: 0;
}