form > center > table.tablestyle td:not(.label) {
	border: 0;
}
form > center > table.tablestyle input,
form > center > table.tablestyle div.list_container {
	width: calc(100% - 3.5em);
}
.select2 {
	margin-top: -1px !important;
}
