table.tablestyle2 td:not(.label) {
	border: 0;
}
table.tablestyle2 span {
	margin: 0;
	padding: 0;
}
table.tablestyle2 input:not([type=checkbox]), table.tablestyle2 span {
	width: 90%;
}
table.tablestyle2 select {
	width: 90%;
	margin: 0;
}