table.tablestyle2 td:not(.label) {
	border: 0;
}
table.tablestyle2 input:not([type=checkbox]), table.tablestyle2 td > span,
table.tablestyle2 select {
	width: 90%;
}
.select2 {
	margin-top: -1px !important;
}