td.report_table_filter .list_container,
td.report_table_filter input,
td.report_table_filter textarea,
td.report_table_filter button, div.date_box {
	display: inline-block;
	width: 100%;
	margin-bottom: -2.5em;
}
div#rep_form > table textarea {
	margin-bottom: -0.5em;
}
@media all and (max-width: 768px) {
	div#rep_form > table {
		width: auto;
	}
}
