div#rep_form > table .list_container,
div#rep_form > table > tbody > tr > td > form > input,
div#rep_form > table textarea,
div#rep_form > table button, div.date_box {
	display: inline-block;
	width: 100%;
	margin-bottom: -2.5em;
}
div#rep_form > table textarea {
	margin-bottom: -0.5em;
}
@media all and (max-width: 768px) {
	div#rep_form > table {
		width: auto;
	}
}
