table.tablestyle2 td:not(.label) {
	border: 0;
}
table.tablestyle2 input, table.tablestyle2 .list_container {
	width: 260px;
}
.select2 {
	margin-top: -1px !important;
}
#_component_edit {
	width: 90px;
}
table.tablestyle2 tr:nth-child(2) .list_container {
	width: 166px;
}
