table.tablestyle2 td:not(.label) {
	border: 0;
}
table.tablestyle2 span {
	margin: 0;
	padding: 0;
}
table.tablestyle2 input, table.tablestyle2 span:not(#_provision_label):not(#_provision2_label) {
	display: inline-block;
	width: calc(100% - 1.5em);
}