/*--------------------------------------------------\
| canvas         |              | default.css       |
|---------------------------------------------------|
| For use with:                                     |
| FrontAccounting   				    |
| http://FrontAccounting.com/          		    |
| by Joe Hunt Consulting                            |
|---------------------------------------------------|
| Developer:                                        |
| Joe Hunt                                          |
|                                                   |
|---------------------------------------------------|
| Note:                                             |
| Changes can be made to this CSS that will be      |
| reflected throughout FrontAccounting.             |
|                                                   |
\--------------------------------------------------*/

body {
  background-color: #eee;

  background: -moz-linear-gradient(bottom, #e3eaea 0%, #e3eaea 50%, #e3eaea 51%, #d7dddd 78%, #d7dddd 100%);
  background: -webkit-linear-gradient(bottom, #e3eaea 0%, #e3eaea 50%, #e3eaea 51%, #d7dddd 78%, #d7dddd 100%);
  background: -o-linear-gradient(bottom, #e3eaea 0%, #e3eaea 50%, #e3eaea 51%, #d7dddd 78%, #d7dddd 100%);
  background: -ms-linear-gradient(bottom, #e3eaea 0%, #e3eaea 50%, #e3eaea 51%, #d7dddd 78%, #d7dddd 100%);
  background: linear-gradient(to top, #e3eaea 0%, #e3eaea 50%, #e3eaea 51%, #d7dddd 78%, #d7dddd 100%);

  margin: 0;
  padding: 0;
  text-align: center;
}

body,td,th {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000;
}

/* Main */
.fa-main {
  width: 98%;
  margin: 0 auto;
  text-align: left;
}

tr, td, th {
  line-height: 17px;
  color: #000;
}
table {
  text-align: left;
}

textarea {
    font-size: 12px;
}

input, select
{
    font-size: 11px;
	padding: 1px;
}

//select {
//    max-width: 200px;
//}

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}

a, a:active {
  	color: #045c97;
	text-decoration: none;
}
a:hover, a:focus {
	color: #4f9adb;
	text-decoration: underline;
}
a:visited {
  	color: #045c97;
	text-decoration: none;
}
.clear {
	clear: both;
}
.nodisp {
	display: none;
}
.italic {
	font-style: italic;
}
.flleft {
	float: left;
}
.flright {
	float: right;
}

.fa-menu,
.fa-menu ul,
.fa-menu ul li,
.fa-menu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fa-menu {
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}
.fa-menu ul {
  background: #222222;
  /* Old browsers */

  background: -moz-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: -webkit-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: -o-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: -ms-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: linear-gradient(to top, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
}
.fa-menu:after,
.fa-menu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.fa-menu ul li {
  float: left;
  display: block;
  border-right: 1px solid #ccc;
  z-index: 1;
}
.fa-menu ul li::after {
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  border-top-left-radius: 50% 4px;
  border-top-right-radius: 50% 4px;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 2;
  bottom: 10px;
}
.fa-menu ul li a {
  display: block;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 3;
}
.fa-menu ul li a:hover,
.fa-menu ul li.active a {
  color: #ffffff;
}
.fa-menu ul li:hover,
.fa-menu ul li.active {
  background: #1275ae;
  /* Old browsers */

  background: -moz-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
  background: -webkit-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
  background: -o-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
  background: -ms-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
  background: linear-gradient(to top, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
}
.fa-menu ul li:hover::after,
.fa-menu ul li.active::after {
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #1275ae 61%, #1275ae 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #1275ae 61%, #1275ae 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #1275ae 61%, #1275ae 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #1275ae 61%, #1275ae 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

/* Body */
.fa-body {
  width: 100%;
  background-color: #f9f9f9;
  float: left;
  margin: 0;
  padding: 3px 0 0 0;
}

#fa-submenu{
padding: 0;
margin-top: 0px;
width: 100%;
height: 24px;
background-color: #1275ae;
}

#fa-submenu ul{
margin:0;
padding: 0;
list-style: none;
}

#fa-submenu li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
}

#fa-submenu a{
float: left;
display: block;
font-size: 12px;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
border-right: 1px solid #ececec;
padding: 5px 10px;
background-color: #1275ae;
}

#fa-submenu a:hover{
background-color: black; /*Brown color theme*/ 
color: white;
}


/* Content */
.fa-content {
  width: 99%;
  margin: 0;
  padding: 7px 10px 5px 0;
  float: right;
  vertical-align: top;
}

/* Footer */
.fa-footer {
  clear: both;
  background-image: url(images/footer_bg.png);
  background-repeat: repeat-x;
  height: 10px;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 10px;
  color: #036;
}


h1 {
	font-size: 14px;
	margin-right: 20px;
	color: #466f01;
}
h2, .titletext {
	font-weight: bold;
	font-size: 13px;
	color: #555;
	padding: 5px;
}
.titletext {
	border-bottom: 1px solid #8899aa;
}

h3 {
	font-size: 100%;
	padding-top: 1ex;
	padding-bottom: 1ex;
}
#header { margin: 0; }
#header ul {clear: right; float: right; font-size: 11px; margin: 8px 10px 0 0; }
#header li{ list-style: none; display: inline; margin: 0; }
#header li a{ color: #045c97; text-decoration: none; padding: 0 0 0 16px; }
#header h1 {
	padding: 4px 0 4px 10px;
	margin: 0;
}
#header h2 {
	font-style: italic;
}

.fa-footer .power a { font-size: 10px; padding: 0 12px 0 12px; text-align: center; background: transparent url(images/news.gif) no-repeat center left; color: #045c97; }
.fa-footer .date { font-size: 10px; padding: 0 12px 0 12px; text-align: center; color: #045c97; }

hr {
	background: #ccc;
	border: 0;
	color: #ccc;
	height: 1px;
}

.menu_group {
	font-size: 12px;
	padding: 0;
	color: #555;
	background-color: #fff;
	padding-left: 3px;
	font-weight: bold;
}

.menu_group_items {
	font-size: 12px;
	background-color: #f9f9f9;
	font-weight: normal;
	line-height: 19px;
	padding: 9px;
	border: 1px solid #8899aa;
}

.menu_group_items a {
	text-decoration: none;
}

.tableheader {
	font-weight: bold;
	background-color: #1275ae;
	color: #fff;
	text-align: center;
}

.tableheader2 {
	font-weight: bold;
	background-color: #1275ae;
	color: #fff;
	text-align: left;
}

.tableseparator {
	border-left: 1px solid #ccc;
}

.headingtext {
	font-weight: bold;
	font-size: 12px;
	color: #555;
}

.headingtext2 {
	font-size: 12px;
	color: black;
}

.headingtext3 {
	font-weight: bold;
	font-size: 10px;
	color: black;
}

.errortext {
	font-size: 12px;
	color: #f00;
	font-weight: bold;
}

.inputsubmit {
	font-size: 11px;
	border: 1px #ccc solid;
  	background-image: url(images/footer_bg.png);
  	background-repeat: repeat-x;
	padding: 1px 4px;
}

.ajaxsubmit {
	font-size: 11px;
	border: 1px #ccc solid;
  	background-image: url(images/footer_bg.png);
  	background-repeat: repeat-x;
	padding: 1px 4px;
}

.oddrow {
	background-color: #fafafa;
}

.evenrow {
	background-color: #f3f3f3;
}

.overduebg {
	background-color: pink;
}

.overduefg {
	color: pink;
}

.currentfg {
	color: #f66;
}

.redfg, a.redfg {
	color: red;
	font-weight: bold;
}

.settledbg {
	background-color: #0b0;
}

.settledfg {
	color: #0b0;
}

.inquirybg {
	background-color: #fdfeef;
}

.currencybg {
	background-color: #e88;
}

.stockmankobg {
	background-color: pink;
}

.stockmankofg {
	color: red;
}

table.tablestyle {
	border-collapse: collapse;
	border: 1px solid #8899aa;
}
table.tablestyle td {
	border-collapse: collapse;
	border: 1px solid #8899aa;
}
table.tablestyle2 {
	border-collapse: collapse;
	border: 1px solid #cccccc;
}
table.tablestyle2 td {
	border-collapse: collapse;
	border: 1px solid #cccccc;
}
table.tablestyle_inner {
	border-collapse: collapse;
	border: 1px solid #f9f9f9;
}
table.tablestyle_inner td {
	border-collapse: collapse;
	border: 1px solid #f9f9f9;
}
.tablestyle_noborder {
	padding: 3px;
}

.label {
	background-color: #d7dbdd;
	color: black;
}

#loginscreen {
	background: #f5f5f5;
}

.login {
	width: 350px;
	border-left: 12px solid #367cb5;
	border-collapse: collapse;
	background-color: #eeeeee;
}
.login td {
	border-collapse: collapse;
	border: 1px solid #cccccc;
}

.amount {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	text-align: right;
}

input.amount {
	padding-right: 0px;
}

.editbutton {
   	color:#00f;
   	background-color:transparent;
   	border-style:none;
   	text-decoration:none;
   	padding: 0;
   	margin: 0;
   	cursor: pointer;
}

.navibutton[disabled] {
  	color:#ccc;
 	text-decoration:none;
  	cursor: auto;
}

button.navibutton {
  	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
   	color:#fff;
   	padding: 0 3px;
	background-color: transparent;
   	border-style:none;
   	cursor: pointer;
}

.navibutton span {
   	text-decoration:underline;
}

.navibar {
	padding: 0 3px;
    color: #fff;
    border: 1px solid #8899aa;
    border-collapse: collapse;
	background-color: #1275ae;
}

.listsubmit {
    display: none;
}

.inactive {
	color: gray;
}

button {
	font-size: 11px;
	border: 1px #0066cc solid;
	padding: 1px 0px;
}

button img, span {
	padding: 0px 2px ;
	vertical-align: middle;
}

ul.ajaxtabs{
	padding: 3px 0 0 0;
	margin: 3px 3px 0 3px;
	font: 12px Tahoma,Verdana;
	font-weight: bold;
}

ul.ajaxtabs li{
	list-style: none;
	margin: 0;
	display: inline;
}

ul.ajaxtabs li button{
    background-color: #dee7ec;
	padding: 3px 8px;
	margin: 0px;
	border-top: 1px solid #8899aa;
	border-right: 1px solid #8899aa;
	border-bottom: none;
	border-left: none;
	font-weight: bold;
}

ul.ajaxtabs li button:hover{
	border-top: 1px solid #8899aa;
	color:#fff;
}
div.spaceBox{
	background-color: #8899aa;
	height:8px;
	border-bottom: 1px solid #8899aa;
	border-left: 1px solid #8899aa;
	border-right:1px solid #8899aa;
	margin: 0 3px 0px 3px
}

div.contentBox{
	border: 1px solid #8899aa;
	margin: 0 3px 3px 3px
}

ul.ajaxtabs li button.current, ul.ajaxtabs li button.current:hover{
	border-left: 1px solid #8899aa;
	background-color: #8899aa;
	color:#fff;
}
#hints {
  font-size: 12px;
  padding: 5px;
  border-bottom: 1px solid #8899aa;
  margin: -4px -2px -2px;
  border: 1px solid #8899aa;
  background-color: #ffffea;
  white-space: nowrap;
}

img { border: 0; }

/*
	Calendar style
*/
#CCIframe {
	display: none;
	left: 0px;
	position: absolute;
	top: 0px;
	height: 250px;
	width: 270px;
	z-index: 99;
}
#CC { 
	position:absolute;
	background-color:#FFF;
	margin:0; padding:0;
	display:none;
	z-index: 100;
}
#CC table { 
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 8pt;
	border-left: 1px solid #336;
	border-right: 1px solid #336;
}
#CC th {
	font-weight: normal;
	text-align: center;
}
#CC th a {
	font-weight: normal;
	text-decoration: none;
	color: #FFF;
	padding: 1px;
}
#CC td {
	text-align: center;
}
#CC .header {
	background-color: #22303b;
}
#CC .weekday {
	background-color: #eee;
	color: #000;
}
#CC .weekend {
	background-color: #FFC;
	color: #000;
}
#CC .weekno {
	background-color: #cde;
	color: #555;
}
#CC .current {
	border: 1px solid #339;
	background-color: #22303b;
	color: #FFF;
}
#CC .weekday, #CC .weekend, #CC .current {
	display: block;
	text-decoration: none;
	border: 1px solid #FFF;
	width: 2em;
}
#CC .weekday:hover, #CC .weekend:hover, #CC .current:hover {
	color: #FFF;
	background-color: #22303b;
	border: 1px solid #999;
}
#CC .previous {
	text-align: left;
}
#CC .next {
	text-align: right;
}
#CC .previous, #CC .next {
	padding: 1px 3px 1px 3px;
	font-size: 1.4em;
}
#CC .previous a, #CC .next a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}
#CC .title {
	text-align: center;
	font-weight: bold; 
	color: #FFF;
}
#CC .empty {
	background-color: #ddd;
	border: 1px solid #FFF;
}

div.err_msg {
	margin: 10px;
	padding: 3px;
	border: 1px solid #cc3300;
	background-color: #ffcccc;
	color: #dd2200;
	text-align: center;
}

div.warn_msg {
	margin: 10px;
	padding: 3px;
	border: 1px solid #ff9900;
	background-color: #ffff00;
	color: #ff5500;
	text-align: center;
}

div.note_msg {
	margin: 10px;
	padding: 3px;
	border: 1px solid #33cc00;
	background-color: #ccffcc;
	color: #007700;
	text-align: center;
}

#title {
	margin-bottom: 10px;
	width: 100%;
}
