/*--------------------------------------------------\
|                  Theme:  default                  |
|---------------------------------------------------|
| For use with:  NotrinosERP                        |
| http://notrinos.com/                              |
| by Phuong <trananhphuong83@gmail.com>             |
|---------------------------------------------------|
| Developer:     Tran Anh Phuong                    |
\--------------------------------------------------*/

* {
	box-sizing: border-box;
}
body {
	font-family: Verdana, Arial, Helvetica;
	background: #DADADA;
	font-size: 10px;
	margin: 0;
	padding: 0 5px;
}
tr, td, th {
	font-size: 11px;
	line-height: 19px;
}
table {
	text-align: left;
}
textarea {
	font-size: 12px;
}
input, select {
	font-size: 11px;
	padding: 3px 1px;
}
select {
	width: 100%;
}
div.list_container {
	display: inline-block;
}
div.dynamic_combo_btn {
	width: 100%;
	padding: 5px 0px 5px 10px;
	color: #0060a0;
	font-size: 1.2em;
}
div.dynamic_combo_btn i {
	display: inline-block;
	float: right;
	margin-top: 3px;
	margin-right: 3px;
	color: #0060a0;
	height: 1em;
}
div.dynamic_combo_btn:hover {
	cursor: pointer;
	background-color: #DDDDDD;
}
select[name='pager_list'] {
	padding: 0;
	font-size: 10px;
}
input.date {
	width: 135px;
}
div.date_box {
	white-space: nowrap;
}
div.date_box a {
	position: relative;
	left: -22px;
}
div.date_box a:focus {
	outline: none;
}
div.date_box a:hover {
	text-decoration: none;
}
div.date_box i {
	font-size: 1.5em;
	vertical-align: middle;
	margin-top: -1px;
}
option.inactive {
	text-decoration: line-through;
	color: gray;
}
input.big {
	width: 100px;
}
input.small {
	width: 50px;
}
a {
	color: #0060a0;
	font-size: 11px;
	text-decoration: none;
}
a:link {
	color: #0060a0;
	text-decoration: none;
}
a:active {
	color: #222222;
	text-decoration: none;
}
a:hover, a:focus {
	color: #2d8628;
	text-decoration: underline;
}
.inactive {
	color: #CCCCCC;
}
button {
	font-size: 11px;
	border: 1px #0066cc solid;
	padding: 1px 0px;
}
button i {
	margin-right: 3px;
	font-size: 1.1em;
	vertical-align: middle;
}
i.btn_ok {
	color: #82C91E;
}
i.btn_danger {
	color: #EE3625;
}
i.btn_warning {
	color: #E37400;
}
i.btn_grey {
	color: #777;
}
i.btn_green {
	color: #009077;
}
.callout_main {
	font-family: Verdana, Arial, Helvetica;
	border: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
.main_page {
	background-color: #FFF;
	border: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}
#_page_body {
	width: 100%;
	border-left: 1px solid #BFBFBF;
	border-right: 1px solid #BFBFBF;
	padding-top: 1em;
}
.quick_menu {
	background-color: #DADADA;
	border: 0;
	margin: 0;
	padding: 0;
}
.quick_menu_selected {
	font-family: Verdana, Arial, Helvetica;
	font-size: 13px;
	border: none;
	white-space: nowrap;
	margin: 2px;
	padding: 2px;
	color: #00cc00;
	font-weight: bolder;
}
.logoutBar {
	padding-right: 1em;
	background: #DADADA;
	color: #222222;
	border-bottom: 1px solid #BFBFBF;
	width: 100%;
}
.bottomBar {
	padding: 0 1em;
	background: #EAEAEA;
	color: #222222;
	border: 1px solid #BFBFBF;
	border-top: 0;
	width: 100%;
}
.bottomBarCell {
	font-size: 10px;
	line-height: 12px;
}
.bottomBar2 {
	padding-right: 1em;
	background: #EAEAEA;
	color: #222222;
	border: 1px solid #BFBFBF;
	width: 100%;
}
div.logoutBar {
	padding-right: 1em;
	background: #EAEAEA;
	color: #222222;
	border-bottom: 1px solid #BFBFBF;
	text-align: right;
}
.logoutBarRight {
	text-align: right;
}
.logoutBarRight a {
	margin-right: 1em;
	color: #555;
}
.logoutBarRight a:hover {
	text-decoration: none;
	color: #000;
}
div.logoutBar img {
	vertical-align: top;
}
div.tabs {
	display: inline-block;
	width: calc(100% + 10px);
	margin-left: -5px;
	padding: 0;
	height: 45px;
	background-color: #fff;
	border-bottom: 1px solid #CFCFCF;
	box-sizing: border-box;
}
div.tabs center {
	height: 100%;
}
div.tabs a {
	display: inline-block;
	width: 100px;
	height: 100%;
	padding: 4px 0 5px 0;
	color: #436976;
	margin: 0;
	box-sizing: border-box;
}
div.tabs a i {
	display: block;
	color: #333;
	font-size: 1.2em;
	width: calc(1.2em + 8px);
	padding: 3px;
	border: 1px solid #AAA;
	border-radius: 2px;
}
div.tabs a span {
	display: block;
	width: 100%;
	color: #666;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8em;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.tabs a.selected {
	border-bottom: 2px solid #DD4B39;
}
div.tabs a.selected i, div.tabs a.selected span {
	color: #000;
}
div.tabs a:hover {
	text-decoration: none;
	background-color: #F1F1F1;
}
.menu_table {
	margin-top: -1em;
}
.menu_group {
	font-size: 13px;
	color: #222222;
	background-color: #EAEAEA;
	padding: 0 1em;
	font-weight: bold;
}
.menu_group_items {
	background-color: #FEFEFE;
	font-weight: normal;
	padding: 9px;
	margin: 9px;
	border: 1px solid #BFBFBF;
}
.menu_group_items a.menu_option, .menu_group_items span.inactive {
	display: inline-block;
	padding: 3px 5px;
	font-size: 1.2em;
}
a.menu_option i, span.inactive i {
	position: relative;
	margin-right: .5em;
	bottom: -1px;
	padding: 1px;
	color: #555;
	font-size: 1.05em;
}
span.inactive i {
	color: #CCCCCC;
}
a.menu_option:hover {
	text-decoration: none;
	background-color: #E0E0E0;
}
a.menu_option:focus {
	text-decoration: none;
}
#hotkeyshelp {
	text-align: right;
	font-weight: bolder;
}
#footer {
	position: relative;
	bottom: -3px;
}
.footer td a {
	color: #666666;
	font-size: 9px;
}
.footer {
	font-family: Verdana, Arial, Helvetica;
	color: #cccccc;
	font-weight: normal;
	font-size: 9px;
	text-align: center;
	width: 100%;
}
.tableheader {
	font-weight: bold;
	background-color: #C9C9C9;
	color: #222222;
	text-align: center;
}
.tableheader2 {
	font-weight: bold;
	background-color: #C9C9C9;
	color: #222222;
	text-align: left;
}
.titletext {
	font-weight: bold;
	font-size: 13px;
	border-bottom: 1px solid #BFBFBF;
	padding: 5px;
	width: 100%;
	color: #222222;
}
.headingtext {
	font-weight: bold;
	font-size: 13px;
	color: #222222;
}
.headingtext2 {
	font-size: 13px;
	color: #222222;
}
.headingtext3 {
	font-weight: bold;
	font-size: 10px;
	color: #222222;
}
.errortext {
	font-size: 13px;
	color: #ff0000;
	font-weight: bold;
}
.inputsubmit {
	font-size: 11px;
	border: 1px #0066cc solid;
	padding: 1px 4px;
}
.ajaxsubmit {
	font-size: 11px;
	border: 1px #0066cc solid;
	padding: 1px 4px;
}
.oddrow {
	background-color: #FAFAFA;
}
.evenrow {
	background-color: #F0F0F0;
}
.overduebg {
	background-color: #F7C6C5;
}
.overduefg {
	color: #FFA5A8;
}
.currentfg {
	color: #ff6666;
}
.redfg, a.redfg {
	color: red;
	font-weight: bold;
}
.settledbg {
	background-color: #C9F6CD;
}
.settledfg {
	color: #0faf0f;
}
.inquirybg {
	background-color: #fdfeef;
}
.currencybg {
	background-color: #ee8888;
}
.stockmankobg {
	background-color: pink;
}
.stockmankofg {
	color: red;
}
table.tablestyle {
	border-collapse: collapse;
	border: 1px solid #BFBFBF;
}
table.tablestyle td {
	border-collapse: collapse;
	border: 1px solid #BFBFBF;
}
table.tablestyle2 {
	border-collapse: collapse;
	border: 1px solid #cccccc;
}
table.tablestyle2 td {
	border-collapse: collapse;
	border: 1px solid #cccccc;
}
table.tablestyle_inner {
	border-collapse: collapse;
	border: 1px solid #FEFEFE;
}
table.tablestyle_inner td {
	border-collapse: collapse;
	border: 1px solid #FEFEFE;
}
.tablestyle_noborder {
	padding: 3px;
}
.label {
	background-color: #efefef;
	color: #222222;
}
.amount {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	text-align: right;
}
input.amount {
	padding-right: 0px;
}
.editbutton {
	color:#0000FF;
	background-color:transparent;
	border-style:none;
	text-decoration:underline;
	cursor: pointer;
}
.navibutton[disabled], .navibutton[disabled] span {
	display: none;
}
button.navibutton {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	font-weight: bold;
	color:#000;
	padding: 0 3px;
	background-color:transparent;
	border-style:none;
	cursor: pointer;
}
.navibutton span {
	text-decoration: underline;
}
tr.navibar .navibutton span {
	text-decoration: none;
}
.navibar {
	padding: 0 3px;
	color: #000;
	border-collapse: collapse;
	background-color: #C9C9C9;
}
.navibar tr td {
	border: none;
}
.listsubmit {
	display: none;
}
ul.ajaxtabs{
	padding: 3px 0 0 0;
	margin: 3px 3px 0 3px;
	font: 12px Tahoma,Verdana;
	font-weight: bold;
}
ul.ajaxtabs li{
	list-style: none;
	margin: 0;
	display: inline;
}
ul.ajaxtabs li button{
	background-color: #E5E5E5;
	padding: 3px 8px;
	margin: 0px;
	border-top: 1px solid #BFBFBF;
	border-right: 1px solid #BFBFBF;
	border-bottom: none;
	border-left: none;
	font-weight: bold;
}
ul.ajaxtabs li button:hover{
	border-top: 1px solid #BFBFBF;
	color:#FFFFFF;
}
div.spaceBox{
	background-color: #C9C9C9;
	height:8px;
	border-bottom: 1px solid #C9C9C9;
	border-left: 1px solid #BFBFBF;
	border-right:1px solid #BFBFBF;
	margin: 0 3px 0px 3px
}
div.contentBox{
	border: 1px solid #BFBFBF;
	margin: 0 3px 3px 3px
}
ul.ajaxtabs li button.current, ul.ajaxtabs li button.current:hover{
	border-left: 1px solid #BFBFBF;
	background-color: #C9C9C9;
	color:#FFFFFF;
}
#hints {
	font-size: 13px;
	padding: 5px;
	border-bottom: 1px solid #BFBFBF;
	margin: -4px -2px -2px;
	border: 1px solid #BFBFBF;
	background-color: #FFFFE0;
	white-space: nowrap;
}

/****** Calendar style ******/

#CCIframe {
	display: none;
	left: 0px;
	position: absolute;
	top: 0px;
	height: 250px;
	width: 270px;
	z-index: 99;
}
#CC { 
	position:absolute;
	background-color:#FFF;
	margin:0; padding:0;
	display:none;
	z-index: 100;
}
#CC table { 
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 1em;
	border: 1px solid #C0C0C0;
	padding-bottom: 1px;
	-webkit-box-shadow: 0px 6px 12px #999;
	-moz-box-shadow:    0px 6px 12px #999;
	box-shadow:         0px 6px 12px #999;
}
#CC th {
	font-weight: normal;
	text-align: center;
}
#CC th a {
	font-weight: normal;
	text-decoration: none;
	color: #FFF;
	padding: 1px;
}
#CC td {
	text-align: center;
}
#CC .header {
	background-color: #CACACA;
}
#CC .weekday {
	background-color: #eee;
	color: #000;
}
#CC .weekend {
	background-color: #FFC;
	color: #000;
}
#CC .weekno {
	color: #777;
	width: 2.2em;
}
#CC .weekday, #CC .weekend, #CC .current {
	display: block;
	text-decoration: none;
	border: 1px solid #FFF;
	width: 2.2em;
}
#CC .current {
	border: 1px solid red;
	font-weight: bold;
}
#CC .weekday:hover, #CC .weekend:hover, #CC .current:hover {
	color: #FFF;
	background-color: #DADADA;
	border: 1px solid #999;
}
#CC .previous, #CC .next {
	font-size: 1.4em;
	text-align: center;
}
#CC .previous a, #CC .next a {
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	width: 100%;
}
#CC .previous a:hover, #CC .next a:hover {
	background-color: #E0E0E0;
}
#CC .title {
	text-align: center;
	font-weight: bold; 
	color: #FFF;
}
#CC .empty {
	background-color: #eee;
	border: 1px solid #FFF;
}
#CC .cc_months_list {
	border: 1px solid #D0D0D0;
	color: #333;
}
div.err_msg {
	margin: 10px;
	padding: 3px;
	border: 1px solid #cc3300;
	background-color: #ffcccc;
	color: #dd2200;
	text-align: center;
}
div.warn_msg {
	margin: 10px;
	padding: 3px;
	border: 1px solid #ff9900;
	background-color: #ffff00;
	color: #ff5500;
	text-align: center;
}
div.note_msg {
	margin: 10px; 
	padding: 3px;
	border: 1px solid #33cc00;
	background-color: #ccffcc;
	color: #007700;
	text-align: center;
}
#title {
	/*margin-bottom: 10px;*/
	width: 100%;
	border-left: 1px solid #BFBFBF;
	border-right: 1px solid #BFBFBF;
}
div.widgets_container {
	display: inline-block;
	width: 100%;
}
div.widget_title {
	font-weight: bold;
	color: #555;
	font-size: 1.3em;
	width: 100%;
	border-bottom: 1px solid #DDD;
	padding: 5px 0;
	margin-bottom: 5px;
}
div.widget {
	border: 1px solid #DDD;
	background: #FFF;
	padding: 0 10px;
	margin: 10px 0 0 20px;
	box-sizing: border-box;
	display: inline-block;
	float: left;
	height: 23.5em;
	overflow: auto;
}
div.widget_full {
	width: calc(100% - 40px);
}
div.widget_half {
	width: calc(50% - 30px);
}

.select2-selection__rendered {
	line-height: 18px !important;
	margin-top: 1px !important;
}
.select2-container .select2-selection--single {
	height: 22px !important;
	margin-top: -1px !important;
	border: 1px solid #777;
	border-radius: 2px !important;
}
.select2-selection__arrow {
	height: 21px !important;
	top: 0px !important;
}
.select2-dropdown {
	border: 1px solid #E5E5E5 !important;
	border-radius: 2px !important;
	-webkit-box-shadow: 0px 6px 12px #999;
	-moz-box-shadow:    0px 6px 12px #999;
	box-shadow:         0px 6px 12px #999;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
	background: #F1F1F1;
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@media all and (max-width: 768px) {

	#_page_body {
		width: calc(100vw - 10px);
		margin: 0;
	}
	table.logoutBar .headingtext3 {
		display: none;
	}
	td.menu_group_items {
		display: block;
		width: 100%;
		margin-left: 0;
	}
	div.widget {
		width: calc(100% - 10px);
		margin-left: 5px;
		overflow: auto;
	}
}
